html {
    box-sizing: border-box;
    font-size: 10px;
}

*,*::after,*::before {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Helvetica', Arial, sans-serif;
}

.list {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}

.card {
    width: 90%;
    box-shadow: 0 3px 1rem rgba(2,2,2,0.35);
    padding: 1rem;
    margin: 1.5rem auto;
    border-radius: 5px;
}

.card img {
    display: block;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 1rem;
}

@media (min-width: 660px) {
    .card {
        width: 45%;
    }
}

@media (min-width: 960px) {
    .card {
        width: 30%;
    }
}